{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

<div id="home">

    <div id="carousel-slide" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">

            {% for mystery in mysteries %}
                {% if forloop.first %}
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img src="{{ mystery.image.url }}" class="d-block w-100" alt="...">
                        <div class="backdrop"></div>
                        <div class="carousel-caption d-md-block">
                            <h5 class="text-uppercase">{{ mystery.category }}</h5>
                            <p class="mt-3 mb-3">{{ mystery.name }}</p>
                            <h5 class="text-uppercase">{{ mystery.sequence }}&#9900;. mistério</h5>
                        </div>
                    </div>
                    {% else %}
                    <div class="carousel-item" data-bs-interval="10000">
                        <div class="backdrop"></div>
                        <img src="{{ mystery.image.url }}" class="d-block w-100" alt="...">
                        <div class="carousel-caption d-md-block">
                            <h5 class="text-uppercase">{{ mystery.category }}</h5>
                            <p class="mt-3 mb-3">{{ mystery.name }}</p>
                            <h5 class="text-uppercase">{{ mystery.sequence }}&#9900;. mistério</h5>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}

        </div>
        <a class="carousel-control-prev" href="#carousel-slide" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-slide" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </a>
    </div>

    <div id="next-event" class="next-event">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-date">
                            <h5 class="card-title">30</h5>
                            <h6 class="card-subtitle text-uppercase">mai</h6>
                        </div>
                        <div class="card-body">

                            <div class="row">
                                <div class="col-sm-12 col-lg-6">
                                    <p class="card-text-title">Lorem ipsum dolor sit amet</p>
                                </div>
                                <div class="col-sm-12 col-lg-3">
                                    <p class="card-text">Sexta-feira, 19:00h</p>
                                    <p class="card-text">Domingo, 09:00h | 10:00h | 18:00h</p>
                                </div>
                                <div class="col-sm-12 col-lg-3">
                                    <p class="card-text">Praça Nossa Sra. de Nazaré, 18 - Anchieta, Rio de Janeiro - RJ, 21645-430</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-us">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-6 image-wrapper">
                    <img src="https://static01.nyt.com/images/2020/05/31/us/politics/31dc-virus-scotus/merlin_170520402_b9c7ce69-5b2d-4627-8957-1a866d9d9b06-mobileMasterAt3x.jpg" alt="">
                </div>
                <div class="col-sm-12 col-lg-6 text-wrapper">
                    <div class="sub-title"><h6 class="text-uppercase">Nossa história</h6></div>
                    <h1>Lorem ipsum dolor sit amet, consectetur</h1>
                    <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit amet sagittis quam, pharetra lacinia enim. Curabitur eu ultricies erat, vitae ultrices nisi. Ut sit amet lacinia arcu. Pellentesque ac sapien odio. Sed aliquet nec est sit amet posuere.</p>
                    <a href="/historia" class="btn btn-primary text-uppercase">Saiba mais</a>
                </div>
            </div>
        </div>
    </div>

    <div class="liturgy">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-6 text-wrapper">
                    <div class="sub-title"><h6 class="text-uppercase">Liturgia</h6></div>
                    <h1>Evangelho (Mt 18,21-35)</h1>
                    <p>
                        Naquele tempo, Pedro aproximou-se de Jesus e perguntou: “Senhor, quantas vezes devo perdoar, se meu irmão pecar contra mim? Até sete vezes?” Jesus respondeu: “Não te digo até sete vezes, mas até setenta vezes sete. Porque o Reino dos Céus é como um rei que resolveu acertar as contas com seus empregados. Quando começou o acerto, trouxeram-lhe um que lhe devia uma enorme fortuna. Como o empregado não tivesse com que pagar, o patrão mandou que fosse vendido como escravo, junto com a mulher e os filhos e tudo o que possuía, para que pagasse a dívida.
                        O empregado, porém, caiu aos pés do patrão, e, prostrado, suplicava: ‘Dá-me um prazo! E eu te pagarei tudo’. Diante disso, o patrão teve compaixão, soltou o empregado e perdoou-lhe a dívida.
                        Ao sair dali, aquele empregado encontrou um dos seus companheiros que lhe devia apenas cem moedas. Ele o agarrou e começou a sufocá-lo, dizendo: ‘Paga o que me deves’. O companheiro, caindo aos seus pés, suplicava: ‘Dá-me um prazo! E eu te pagarei’. Mas o empregado não quis saber disso. Saiu e mandou jogá-lo na prisão, até que pagasse o que devia.
                        Vendo o que havia acontecido, os outros empregados ficaram muito tristes, procuraram o patrão e lhe contaram tudo. Então o patrão mandou chamá-lo e lhe disse: ‘Empregado perverso, eu te perdoei toda a tua dívida, porque tu me suplicaste. Não devias tu também, ter compaixão do teu companheiro, como eu tive compaixão de ti?’ O patrão indignou-se e mandou entregar aquele empregado aos torturadores, até que pagasse toda a sua dívida. É assim que o meu Pai que está nos céus fará convosco, se cada um não perdoar de coração ao seu irmão”.
                    </p>
                </div>
                <div class="col-sm-12 col-lg-6 image-wrapper">
                    <img src="https://1.bp.blogspot.com/-K9yCjup986s/WWW_722hcXI/AAAAAAAANVs/tUnhf8SAqX4VinZIXAC9S2kikyRLs_0pQCLcBGAs/s1600/2017-07-09-coptic-catholic-divine-liturgy-04_35850053385_o.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="services text-center">
        <div class="container">
            <div class="sub-title">
                <h6 class="text-uppercase">Nossos serviços</h6>
            </div>
            <h1>Lorem ipsum dolor sit amet, consectetur</h1>
            <div class="row">
                <div class="col-sm-12 col-lg-4">
                    <div class="card">
                        <div>
                            <i class="fas fa-church fa-4x"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary text-uppercase">Saiba mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <div class="card">
                        <div>
                            <i class="fas fa-cross fa-4x"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary text-uppercase">Saiba mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4">
                    <div class="card">
                        <div>
                            <i class="fas fa-bible fa-4x"></i>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Lorem ipsum</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary text-uppercase">Saiba mais</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contact text-center">
        <div class="container">
            <div class="sub-title">
                <h6 class="text-uppercase">Contato</h6>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-12 col-lg-6">
                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras turpis tellus, euismod sit amet</h3>
                    <form action="">
                        <div class="form-floating mb-3">
                            <input type="name" class="form-control" id="name" placeholder="Nome completo" required>
                            <label for="name">Nome completo</label>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-lg-6">
                                <div class="form-floating mb-3">
                                    <input type="email" class="form-control" id="email" placeholder="nome@exemplo.com">
                                    <label for="email">Email</label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-6">
                                <div class="form-floating mb-3">
                                    <input type="phone" class="form-control" id="phone" placeholder="21999999999">
                                    <label for="phone" required>Telefone</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Escreva aqui sua mensagem" id="message" style="height: 100px;" required></textarea>
                            <label for="message">Escreva aqui sua mensagem...</label>
                        </div>
                        <button type="submit" class="btn btn-lg btn-primary">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}
