.footer {
    background-color: #212529;
    color: #fff;
}

.footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer a {
    color: rgba(255,255,255,.55);
    text-decoration: none;
}
.footer a:hover {
    color: rgba(255,255,255,.75);
}

.footer .list-group-item {
    background-color: #212529;
}

.footer .icon-wrapper {
    display: inline-block;
    width: 22px;
}
