{% load static %}
<link rel="stylesheet" href="{% static 'css/_footer.css' %}">

<div class="footer p-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h3>N. Sra. de Nazaré - Anchieta</h3>
                <ul>
                    <li>
                        <div class="icon-wrapper"><i class="fas fa-1x fa-map-marked-alt"></i></div>
                        Praça Nossa Sra. de Nazaré, 18
                    </li>
                    <li>
                        <div class="icon-wrapper"><i class="fas fa-1x fa-city"></i></div>
                        Anchieta, Rio de Janeiro - RJ, 21645-430
                    </li>
                    <li>
                        <div class="icon-wrapper"><i class="fas fa-1x fa-phone-square-alt"></i></div>
                        21 99999 9999
                    </li>
                    <li>
                        <div class="icon-wrapper"><i class="fas fa-1x fa-envelope-open-text"></i></div>
                        email@example.com
                    </li>
                </ul>
            </div>
            <div class="col">
                <h6 class="text-uppercase">Conheça</h6>
                <ul>
                    <li><a href="/historia">Nossa história</a></li>
                    <li><a href="/comunidade">Nossa comunidade</a></li>
                    <li><a href="/missao">Nossa missão</a></li>
                    <li><a href="/servicos">Nossos serviços</a></li>
                    <li><a href="/equipe">Nossa equipe</a></li>
                </ul>
            </div>
            <div class="col">
                <h6 class="text-uppercase">Saiba mais sobre</h6>
                <ul>
                    <li><a href="/missas">Nossas missas</a></li>
                    <li><a href="/eventos">Nossos eventos</a></li>
                    <li><a href="/noticias">Nossas notícias</a></li>
                    <li><a href="/doacoes">Nossas doações</a></li>
                    <li><a href="/galeria">Nossa galeria</a></li>
                </ul>
            </div>
            <div class="col">
                <h6 class="text-uppercase">Mídias sociais</h6>
                <ul>
                    <li>
                        <a href="/facebook"><i class="fab fa-facebook-square"></i></i> Facebook</a>
                    </li>
                    <li>
                        <a href="/instagram"><i class="fab fa-instagram-square"></i> Instagram</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
