<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">N. Sra. de Nazaré</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Nossa Paróquia
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/historia">História</a></li>
                        <li><a class="dropdown-item" href="/comunidade">Comunidade</a></li>
                        <li><a class="dropdown-item" href="/missao">Missão</a></li>
                        <li><a class="dropdown-item" href="/servicos">Serviços</a></li>
                        <li><a class="dropdown-item" href="/equipe">Equipe</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/contato">Contatos</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/missas">Missas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/eventos">Eventos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/noticias">Notícias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/doacoes">Doações</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/galeria">Galeria</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
